<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm a dedicated Computer Science student at the University of Michigan (Go Blue!!), showcasing my work, personal projects, and leadership experiences on this GitHub portfolio. </p>
      </div>
      <div class="col-lg-4">
        <p>I will go over my work at DTE Energy, Plante Moran, DMA, and Curl-Diaries as well as talk about upcoming personal projects and goals!</p>
      </div>
    </div>
  </div>
</section>
