<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm a dedicated Computer Science student at the University of Michigan, expected to graduate with a Bachelor of Science in Engineering in May 2026. I have gained valuable experience as a Cyber Security Intern at Plante Moran, contributing to enhancing security practices and leading the firm's Security Awareness Month campaign. Additionally, my role as a Data Analyst Intern at DTE Energy allowed me to develop efficient applications and design insightful dashboards.</p>
      </div>
      <div class="col-lg-4">
        <p>As the sole creator and curator of Curl-Diaries, a personal project I initiated, I have successfully built a thriving community on TikTok, leveraging an accompanying blog on GitHub to promote and encourage curly hair embracement. Currently, I'm working on an exciting project called Vision Board, an organizational app aimed at encouraging people to achieve their goals. Through my diverse experiences, I aim to make a meaningful contribution in the field of Computer Science.</p>
      </div>
    </div>
  </div>
</section>
