<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12 text-center"> <!-- Change the column width to 12 and add text-center class -->
                <div class="post-content">
                  {{ post.content | markdownify }}
                </div>
              </div>
              <div class="col-lg-12 text-right"> <!-- Add a new column with text-center class -->
              <div class="col-lg-12 text-right">
                <h2>{{ post.title }}</h2>
                <h4>{{ post.heading }}</h4>
                <h5>{{ post.subheading }}</h5>
                <hr class="star-primary">
                <div class="post-image">
                  <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                </div>
              </div>
              <div class="col-lg-12 text-right"> <!-- Add a new column with text-center class -->
              <div class="col-lg-12 text-right">
                <div class="post-content">
                  {{ post.content }}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
